# Olympic Medal Count

— Quentin Lehn and Lisa Pugh

```
Ever wonder which countries have earned the most Olympic medals ever?
Enter the type of Olympic games (summer/winter/both) and enter which type of medal (bronze/silver/gold)
to find out the top five countries with the most medals in that category.

Data source: https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table
             https://developers.google.com/public-data/docs/canonical/countries_csv
```

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import folium

def getHtml():
    url = "https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table"
    response = requests.get(url)
    if response.ok:
        print(response)
    else:
        print("Error:", response.status_code)

getHtml()

<Response [200]>

# Grabbing the Data

```
We used two tables from two different webpages (Wikipedia and developers.google.com).
We extracted the title of the Wikipedia table using BeautifulSoup.
The first dataframe has the information about the Olympics and medal counts for the countries.
The second dataframe has the country codes and coordinates for each country.
We converted them to dataframes using Pandas, then merged them to form a new dataframe to work with from there.
```

In [2]:
url = "https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table"
data = pd.read_html(url)

# Gets the title of the Wiki table using BeautifulSoup
def get_title():
    source_code = requests.get('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table')
    soup = BeautifulSoup(source_code.content, "lxml")
    table_title = soup.select('#firstHeading')
    header = table_title[0].text
    return header

# Creates a Dataframe using Webscraping with the Wiki table data
def get_df():
    total_medals = pd.DataFrame()
    total_medals = total_medals.append(data[2], ignore_index=True)
    total_medals = total_medals.drop(total_medals.index[[0,1]])
    total_medals = total_medals.drop(total_medals.index[[-1]])
    del total_medals[1]
    del total_medals[6]
    del total_medals[11]
    total_medals.columns = ['Countries', 'Gold1', 'Silver1', 'Bronze1', 'Summer Total', 'Gold2', 'Silver2', 'Bronze2', 'Winter Total', 'Gold3','Silver3','Bronze3', 'Combined Total']
    return total_medals

# Formats the Dataframe and output it
# Makes a new column using the values
# from 'Countries' without the 3-letter Country Codes
header = "Dataframe #1: " + get_title()
print("{: ^125s}".format(header))
tm = get_df()
country_code_list=[]
for country in tm['Countries'].astype('str'):
    country_code = country.split("(")[0]
    country_code_list.append( country_code.strip() )
se = pd.Series(country_code_list)
tm['Country'] = se.values
tm

                                      Dataframe #1: All-time Olympic Games medal table

,Countries,Gold1,Silver1,Bronze1,Summer Total,Gold2,Silver2,Bronze2,Winter Total,Gold3,Silver3,Bronze3,Combined Total,Country
2,Afghanistan (AFG),0,0,2,2,0,0,0,0,0,0,2,2,Afghanistan
3,Algeria (ALG),5,4,8,17,0,0,0,0,5,4,8,17,Algeria
4,Argentina (ARG),21,25,28,74,0,0,0,0,21,25,28,74,Argentina
5,Armenia (ARM),2,5,7,14,0,0,0,0,2,5,7,14,Armenia
6,Australasia (ANZ) [ANZ],3,4,5,12,0,0,0,0,3,4,5,12,Australasia
7,Australia (AUS) [AUS] [Z],147,163,187,497,5,3,4,12,152,166,191,509,Australia
8,Austria (AUT),18,33,36,87,59,78,81,218,77,111,117,305,Austria
9,Azerbaijan (AZE),7,11,25,43,0,0,0,0,7,11,25,43,Azerbaijan
10,Bahamas (BAH),6,2,6,14,0,0,0,0,6,2,6,14,Bahamas
11,Bahrain (BRN),1,1,1,3,0,0,0,0,1,1,1,3,Bahrain
12,Barbados (BAR) [BAR],0,0,1,1,0,0,0,0,0,0,1,1,Barbados
13,Belarus (BLR),12,27,38,77,6,4,5,15,18,31,43,92,Belarus
14,Belgium (BEL),40,53,55,148,1,1,3,5,41,54,58,153,Belgium
15,Bermuda (BER),0,0,1,1,0,0,0,0,0,0,1,1,Bermuda
16,Bohemia (BOH) [BOH] [Z],0,1,3,4,0,0,0,0,0,1,3,4,Bohemia
17,Botswana (BOT),0,1,0,1,0,0,0,0,0,1,0,1,Botswana
18,Brazil (BRA),30,36,63,129,0,0,0,0,30,36,63,129,Brazil
19,British West Indies (BWI) [BWI],0,0,2,2,0,0,0,0,0,0,2,2,British West Indies
20,Bulgaria (BUL) [H],51,86,80,217,1,2,3,6,52,88,83,223,Bulgaria
21,Burundi (BDI),1,1,0,2,0,0,0,0,1,1,0,2,Burundi
22,Cameroon (CMR),3,1,1,5,0,0,0,0,3,1,1,5,Cameroon
23,Canada (CAN),63,102,136,301,62,56,52,170,125,158,188,471,Canada
24,Chile (CHI) [I],2,7,4,13,0,0,0,0,2,7,4,13,Chile
25,China (CHN) [CHN],224,164,153,541,12,22,19,53,236,186,172,594,China
26,Colombia (COL),5,8,14,27,0,0,0,0,5,8,14,27,Colombia
27,Costa Rica (CRC),1,1,2,4,0,0,0,0,1,1,2,4,Costa Rica
28,Côte d'Ivoire (CIV) [CIV],1,1,1,3,0,0,0,0,1,1,1,3,Côte d'Ivoire
29,Croatia (CRO),11,10,12,33,4,6,1,11,15,16,13,44,Croatia
30,Cuba (CUB) [Z],77,68,75,220,0,0,0,0,77,68,75,220,Cuba
31,Cyprus (CYP),0,1,0,1,0,0,0,0,0,1,0,1,Cyprus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,Sri Lanka (SRI) [SRI],0,2,0,2,0,0,0,0,0,2,0,2,Sri Lanka
124,Sudan (SUD),0,1,0,1,0,0,0,0,0,1,0,1,Sudan
125,Suriname (SUR) [E],1,0,1,2,0,0,0,0,1,0,1,2,Suriname
126,Sweden (SWE) [Z],145,170,179,494,50,40,54,144,195,210,233,638,Sweden
127,Switzerland (SUI),50,75,67,192,50,40,48,138,100,115,115,330,Switzerland
128,Syria (SYR),1,1,1,3,0,0,0,0,1,1,1,3,Syria
129,Chinese Taipei (TPE) [TPE] [TPE2],5,7,12,24,0,0,0,0,5,7,12,24,Chinese Taipei
130,Tajikistan (TJK),1,1,2,4,0,0,0,0,1,1,2,4,Tajikistan
131,Tanzania (TAN) [TAN],0,2,0,2,0,0,0,0,0,2,0,2,Tanzania
132,Thailand (THA),9,8,14,31,0,0,0,0,9,8,14,31,Thailand
133,Togo (TOG),0,0,1,1,0,0,0,0,0,0,1,1,Togo
134,Tonga (TGA),0,1,0,1,0,0,0,0,0,1,0,1,Tonga
135,Trinidad and Tobago (TRI) [TRI],3,5,11,19,0,0,0,0,3,5,11,19,Trinidad and Tobago
136,Tunisia (TUN),4,2,7,13,0,0,0,0,4,2,7,13,Tunisia
137,Turkey (TUR),39,24,28,91,0,0,0,0,39,24,28,91,Turkey
138,Uganda (UGA),2,3,2,7,0,0,0,0,2,3,2,7,Uganda
139,Ukraine (UKR),35,29,55,119,2,1,4,7,37,30,59,126,Ukraine
140,United Arab Emirates (UAE),1,0,1,2,0,0,0,0,1,0,1,2,United Arab Emirates
141,United States (USA) [P] [Q] [R] [Z],1022,794,705,2521,96,102,84,282,1118,896,789,2803,United States
142,Uruguay (URU),2,2,6,10,0,0,0,0,2,2,6,10,Uruguay
143,Uzbekistan (UZB),8,6,17,31,1,0,0,1,9,6,17,32,Uzbekistan
144,Venezuela (VEN),2,3,10,15,0,0,0,0,2,3,10,15,Venezuela
145,Vietnam (VIE),1,3,0,4,0,0,0,0,1,3,0,4,Vietnam
146,Virgin Islands (ISV),0,1,0,1,0,0,0,0,0,1,0,1,Virgin Islands
147,Yugoslavia (YUG) [YUG],26,29,28,83,0,3,1,4,26,32,29,87,Yugoslavia
148,Zambia (ZAM) [ZAM],0,1,1,2,0,0,0,0,0,1,1,2,Zambia
149,Zimbabwe (ZIM) [ZIM],3,4,1,8,0,0,0,0,3,4,1,8,Zimbabwe
150,Independent Olympic Athletes (IOA) [IOA],1,0,1,2,0,0,0,0,1,0,1,2,Independent Olympic Athletes
151,Independent Olympic Participants (IOP) [IOP],0,1,2,3,0,0,0,0,0,1,2,3,Independent Olympic Participants
152,Mixed team (ZZX) [ZZX],8,5,4,17,0,0,0,0,8,5,4,17,Mixed team

In [3]:
url2 = "https://developers.google.com/public-data/docs/canonical/countries_csv"
data2 = pd.read_html(url2)

# Creates second dataframe from developers.google.com
def get_df2():
    coords_df = pd.DataFrame()
    coords_df = coords_df.append(data2[0], ignore_index=True)
    coords_df.sample()
    coords_df.columns = ['Code', 'Lat', 'Long', 'Country']
    coords_df = coords_df.drop(coords_df.index[[0,1]])
    return coords_df

# formats title and output first 10 elements of dataframe
print("{: ^50s}".format("Dataframe #2: Country Coordinates"))
cdf = get_df2()
cdf.head(10)

        Dataframe #2: Country Coordinates

   Code         Lat        Long               Country
2    AE   23.424076   53.847818  United Arab Emirates
3    AF    33.93911   67.709953           Afghanistan
4    AG   17.060816  -61.796428   Antigua and Barbuda
5    AI   18.220554  -63.068615              Anguilla
6    AL   41.153332   20.168331               Albania
7    AM   40.069099   45.038189               Armenia
8    AN   12.226079  -69.060087  Netherlands Antilles
9    AO  -11.202692   17.873887                Angola
10   AQ  -75.250973   -0.071389            Antarctica
11   AR  -38.416097  -63.616672             Argentina

In [4]:
# Merges both dataframes, formats header, then outputs both
combined_df = pd.merge(left=tm, right=cdf, how='inner', left_on='Country', right_on='Country')
print("{: ^125s}".format("Combined Dataframes"))
combined_df

                                                     Combined Dataframes

,Countries,Gold1,Silver1,Bronze1,Summer Total,Gold2,Silver2,Bronze2,Winter Total,Gold3,Silver3,Bronze3,Combined Total,Country,Code,Lat,Long
0,Afghanistan (AFG),0,0,2,2,0,0,0,0,0,0,2,2,Afghanistan,AF,33.93911,67.709953
1,Algeria (ALG),5,4,8,17,0,0,0,0,5,4,8,17,Algeria,DZ,28.033886,1.659626
2,Argentina (ARG),21,25,28,74,0,0,0,0,21,25,28,74,Argentina,AR,-38.416097,-63.616672
3,Armenia (ARM),2,5,7,14,0,0,0,0,2,5,7,14,Armenia,AM,40.069099,45.038189
4,Australia (AUS) [AUS] [Z],147,163,187,497,5,3,4,12,152,166,191,509,Australia,AU,-25.274398,133.775136
5,Austria (AUT),18,33,36,87,59,78,81,218,77,111,117,305,Austria,AT,47.516231,14.550072
6,Azerbaijan (AZE),7,11,25,43,0,0,0,0,7,11,25,43,Azerbaijan,AZ,40.143105,47.576927
7,Bahamas (BAH),6,2,6,14,0,0,0,0,6,2,6,14,Bahamas,BS,25.03428,-77.39628
8,Bahrain (BRN),1,1,1,3,0,0,0,0,1,1,1,3,Bahrain,BH,25.930414,50.637772
9,Barbados (BAR) [BAR],0,0,1,1,0,0,0,0,0,0,1,1,Barbados,BB,13.193887,-59.543198
10,Belarus (BLR),12,27,38,77,6,4,5,15,18,31,43,92,Belarus,BY,53.709807,27.953389
11,Belgium (BEL),40,53,55,148,1,1,3,5,41,54,58,153,Belgium,BE,50.503887,4.469936
12,Bermuda (BER),0,0,1,1,0,0,0,0,0,0,1,1,Bermuda,BM,32.321384,-64.75737
13,Botswana (BOT),0,1,0,1,0,0,0,0,0,1,0,1,Botswana,BW,-22.328474,24.684866
14,Brazil (BRA),30,36,63,129,0,0,0,0,30,36,63,129,Brazil,BR,-14.235004,-51.92528
15,Bulgaria (BUL) [H],51,86,80,217,1,2,3,6,52,88,83,223,Bulgaria,BG,42.733883,25.48583
16,Burundi (BDI),1,1,0,2,0,0,0,0,1,1,0,2,Burundi,BI,-3.373056,29.918886
17,Cameroon (CMR),3,1,1,5,0,0,0,0,3,1,1,5,Cameroon,CM,7.369722,12.354722
18,Canada (CAN),63,102,136,301,62,56,52,170,125,158,188,471,Canada,CA,56.130366,-106.346771
19,Chile (CHI) [I],2,7,4,13,0,0,0,0,2,7,4,13,Chile,CL,-35.675147,-71.542969
20,China (CHN) [CHN],224,164,153,541,12,22,19,53,236,186,172,594,China,CN,35.86166,104.195397
21,Colombia (COL),5,8,14,27,0,0,0,0,5,8,14,27,Colombia,CO,4.570868,-74.297333
22,Costa Rica (CRC),1,1,2,4,0,0,0,0,1,1,2,4,Costa Rica,CR,9.748917,-83.753428
23,Côte d'Ivoire (CIV) [CIV],1,1,1,3,0,0,0,0,1,1,1,3,Côte d'Ivoire,CI,7.539989,-5.54708
24,Croatia (CRO),11,10,12,33,4,6,1,11,15,16,13,44,Croatia,HR,45.1,15.2
25,Cuba (CUB) [Z],77,68,75,220,0,0,0,0,77,68,75,220,Cuba,CU,21.521757,-77.781167
26,Cyprus (CYP),0,1,0,1,0,0,0,0,0,1,0,1,Cyprus,CY,35.126413,33.429859
27,Czech Republic (CZE) [CZE],15,17,23,55,7,9,8,24,22,26,31,79,Czech Republic,CZ,49.817492,15.472962
28,Denmark (DEN) [Z],45,74,75,194,0,1,0,1,45,75,75,195,Denmark,DK,56.26392,9.501785
29,Djibouti (DJI) [B],0,0,1,1,0,0,0,0,0,0,1,1,Djibouti,DJ,11.825138,42.590275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,Serbia (SRB) [SRB],3,6,6,15,0,0,0,0,3,6,6,15,Serbia,RS,44.016521,21.005859
103,Singapore (SIN),1,2,2,5,0,0,0,0,1,2,2,5,Singapore,SG,1.352083,103.819836
104,Slovakia (SVK) [SVK],9,11,8,28,2,2,1,5,11,13,9,33,Slovakia,SK,48.669026,19.699024
105,Slovenia (SLO),5,8,10,23,2,4,9,15,7,12,19,38,Slovenia,SI,46.151241,14.995463
106,South Africa (RSA),25,32,29,86,0,0,0,0,25,32,29,86,South Africa,ZA,-30.559482,22.937506
107,Spain (ESP) [Z],45,63,41,149,1,0,1,2,46,63,42,151,Spain,ES,40.463667,-3.74922
108,Sri Lanka (SRI) [SRI],0,2,0,2,0,0,0,0,0,2,0,2,Sri Lanka,LK,7.873054,80.771797
109,Sudan (SUD),0,1,0,1,0,0,0,0,0,1,0,1,Sudan,SD,12.862807,30.217636
110,Suriname (SUR) [E],1,0,1,2,0,0,0,0,1,0,1,2,Suriname,SR,3.919305,-56.027783
111,Sweden (SWE) [Z],145,170,179,494,50,40,54,144,195,210,233,638,Sweden,SE,60.128161,18.643501
112,Switzerland (SUI),50,75,67,192,50,40,48,138,100,115,115,330,Switzerland,CH,46.818188,8.227512
113,Syria (SYR),1,1,1,3,0,0,0,0,1,1,1,3,Syria,SY,34.802075,38.996815
114,Tajikistan (TJK),1,1,2,4,0,0,0,0,1,1,2,4,Tajikistan,TJ,38.861034,71.276093
115,Tanzania (TAN) [TAN],0,2,0,2,0,0,0,0,0,2,0,2,Tanzania,TZ,-6.369028,34.888822
116,Thailand (THA),9,8,14,31,0,0,0,0,9,8,14,31,Thailand,TH,15.870032,100.992541
117,Togo (TOG),0,0,1,1,0,0,0,0,0,0,1,1,Togo,TG,8.619543,0.824782
118,Tonga (TGA),0,1,0,1,0,0,0,0,0,1,0,1,Tonga,TO,-21.178986,-175.198242
119,Trinidad and Tobago (TRI) [TRI],3,5,11,19,0,0,0,0,3,5,11,19,Trinidad and Tobago,TT,10.691803,-61.222503
120,Tunisia (TUN),4,2,7,13,0,0,0,0,4,2,7,13,Tunisia,TN,33.886917,9.537499
121,Turkey (TUR),39,24,28,91,0,0,0,0,39,24,28,91,Turkey,TR,38.963745,35.243322
122,Uganda (UGA),2,3,2,7,0,0,0,0,2,3,2,7,Uganda,UG,1.373333,32.290275
123,Ukraine (UKR),35,29,55,119,2,1,4,7,37,30,59,126,Ukraine,UA,48.379433,31.16558
124,United Arab Emirates (UAE),1,0,1,2,0,0,0,0,1,0,1,2,United Arab Emirates,AE,23.424076,53.847818
125,United States (USA) [P] [Q] [R] [Z],1022,794,705,2521,96,102,84,282,1118,896,789,2803,United States,US,37.09024,-95.712891
126,Uruguay (URU),2,2,6,10,0,0,0,0,2,2,6,10,Uruguay,UY,-32.522779,-55.765835
127,Uzbekistan (UZB),8,6,17,31,1,0,0,1,9,6,17,32,Uzbekistan,UZ,41.377491,64.585262
128,Venezuela (VEN),2,3,10,15,0,0,0,0,2,3,10,15,Venezuela,VE,6.42375,-66.58973
129,Vietnam (VIE),1,3,0,4,0,0,0,0,1,3,0,4,Vietnam,VN,14.058324,108.277199
130,Zambia (ZAM) [ZAM],0,1,1,2,0,0,0,0,0,1,1,2,Zambia,ZM,-13.133897,27.849332
131,Zimbabwe (ZIM) [ZIM],3,4,1,8,0,0,0,0,3,4,1,8,Zimbabwe,ZW,-19.015438,29.154857

# The Medal Counter

```
Now to put that data to use...

Input the type of Olympics you want the medal count of: summer, winter, or both combined.
Then, input the type of medal you want to see the medal count for.
The output will be the top 5 countries in order with the most medals for the specified input.
Try it again until you exit the program (quit).
```

In [8]:
#Quit Function
def quit():
    print("Exiting All-Time Olympic Medal Counter...")

#Main Program
print("All-Time Olympic Medal Counter")

while True:
    combined_df = pd.merge(left=tm, right=cdf, how='inner', left_on='Country', right_on='Country')
    print('=' * 55)
    season_type = input("Please enter (summer/winter/both) or quit: ")
    if season_type.lower() == 'quit':
        quit()
        break
    elif season_type.lower() == 'summer':
        medal_type = input("Please enter (bronze/silver/gold) or quit: ")
        print("")
        if medal_type.lower() == 'quit':
            quit()
            break
        elif medal_type.lower() == 'bronze':
            del combined_df['Countries'], combined_df['Silver1'], combined_df['Gold1'], combined_df['Summer Total'], combined_df['Bronze2'], combined_df['Silver2'], combined_df['Gold2'], combined_df['Winter Total'], combined_df['Gold3'], combined_df['Silver3'], combined_df['Bronze3'], combined_df['Combined Total'], combined_df['Lat'], combined_df['Long']
            combined_df['Bronze1'] = combined_df['Bronze1'].astype('int')
            sb = combined_df.sort_values(['Bronze1'], ascending=False).head(5)
            print('All-Time Bronze Medals Awarded in Summer Olympics')
            print(sb.to_string(index=False, header=False))
        elif medal_type.lower() == 'silver':
            del combined_df['Countries'], combined_df['Bronze1'], combined_df['Gold1'], combined_df['Summer Total'], combined_df['Bronze2'], combined_df['Silver2'], combined_df['Gold2'], combined_df['Winter Total'], combined_df['Gold3'], combined_df['Silver3'], combined_df['Bronze3'], combined_df['Combined Total'], combined_df['Lat'], combined_df['Long']
            combined_df['Silver1'] = combined_df['Silver1'].astype('int')
            ss = combined_df.sort_values(['Silver1'], ascending=False).head(5)
            print('All-Time Silver Medals Awarded in Summer Olympics')
            print(ss.to_string(index=False, header=False))
        elif medal_type.lower() == 'gold':
            del combined_df['Countries'], combined_df['Bronze1'], combined_df['Silver1'], combined_df['Summer Total'], combined_df['Bronze2'], combined_df['Silver2'], combined_df['Gold2'], combined_df['Winter Total'], combined_df['Gold3'], combined_df['Silver3'], combined_df['Bronze3'], combined_df['Combined Total'], combined_df['Lat'], combined_df['Long']
            combined_df['Gold1'] = combined_df['Gold1'].astype('int')
            sg = combined_df.sort_values(['Gold1'], ascending=False).head(5)
            print('All-Time Gold Medals Awarded in Summer Olympics')
            print(sg.to_string(index=False, header=False))
        else:
            print('ERROR:', medal_type,'is not a medal type.')
    elif season_type.lower() == 'winter':
        medal_type = input("Please enter (bronze/silver/gold) or quit: ")
        print("")
        if medal_type.lower() == 'quit':
            quit()
            break
        elif medal_type.lower() == 'bronze':
            del combined_df['Countries'], combined_df['Bronze1'], combined_df['Silver1'], combined_df['Gold1'], combined_df['Summer Total'], combined_df['Silver2'], combined_df['Gold2'], combined_df['Winter Total'], combined_df['Gold3'], combined_df['Silver3'], combined_df['Bronze3'], combined_df['Combined Total'], combined_df['Lat'], combined_df['Long']
            combined_df['Bronze2'] = combined_df['Bronze2'].astype('int')
            wb = combined_df.sort_values(['Bronze2'], ascending=False).head(5)
            print('All-Time Bronze Medals Awarded in Winter Olympics')
            print(wb.to_string(index=False, header=False))            
        elif medal_type.lower() == 'silver':
            del combined_df['Countries'], combined_df['Bronze1'], combined_df['Silver1'], combined_df['Gold1'], combined_df['Summer Total'], combined_df['Bronze2'], combined_df['Gold2'], combined_df['Winter Total'], combined_df['Gold3'], combined_df['Silver3'], combined_df['Bronze3'], combined_df['Combined Total'], combined_df['Lat'], combined_df['Long']
            combined_df['Silver2'] = combined_df['Silver2'].astype('int')
            ws = combined_df.sort_values(['Silver2'], ascending=False).head(5)
            print('All-Time Silver Medals Awarded in Winter Olympics')
            print(ws.to_string(index=False, header=False)) 
        elif medal_type.lower() == 'gold':
            del combined_df['Countries'], combined_df['Bronze1'], combined_df['Silver1'], combined_df['Gold1'], combined_df['Summer Total'], combined_df['Bronze2'], combined_df['Silver2'], combined_df['Winter Total'], combined_df['Gold3'], combined_df['Silver3'], combined_df['Bronze3'], combined_df['Combined Total'], combined_df['Lat'], combined_df['Long']
            combined_df['Gold2'] = combined_df['Gold2'].astype('int')
            wg = combined_df.sort_values(['Gold2'], ascending=False).head(5)
            print('All-Time Gold Medals Awarded in Winter Olympics')
            print(wg.to_string(index=False, header=False)) 
        else:
            print('ERROR:', medal_type,'is not a medal type.')
    elif season_type.lower() == 'both':
        medal_type = input("Please enter (bronze/silver/gold) or quit: ")
        print("")
        if medal_type.lower() == 'quit':
            quit()
            break
        elif medal_type.lower() == 'bronze':
            del combined_df['Countries'], combined_df['Bronze1'], combined_df['Silver1'], combined_df['Gold1'], combined_df['Summer Total'], combined_df['Bronze2'], combined_df['Silver2'], combined_df['Gold2'], combined_df['Winter Total'], combined_df['Gold3'], combined_df['Silver3'], combined_df['Combined Total'], combined_df['Lat'], combined_df['Long']
            combined_df['Bronze3'] = combined_df['Bronze3'].astype('int')
            bb = combined_df.sort_values(['Bronze3'], ascending=False).head(5)
            print('All-Time Bronze Medals Awarded in the Olympics')
            print(bb.to_string(index=False, header=False))
        elif medal_type.lower() == 'silver':
            del combined_df['Countries'], combined_df['Bronze1'], combined_df['Silver1'], combined_df['Gold1'], combined_df['Summer Total'], combined_df['Bronze2'], combined_df['Silver2'], combined_df['Gold2'], combined_df['Winter Total'], combined_df['Gold3'], combined_df['Bronze3'], combined_df['Combined Total'], combined_df['Lat'], combined_df['Long']
            combined_df['Silver3'] = combined_df['Silver3'].astype('int')
            bs = combined_df.sort_values(['Silver3'], ascending=False).head(5)
            print('All-Time Silver Medals Awarded in the Olympics')
            print(bs.to_string(index=False, header=False))
        elif medal_type.lower() == 'gold':
            del combined_df['Countries'], combined_df['Bronze1'], combined_df['Silver1'], combined_df['Gold1'], combined_df['Summer Total'], combined_df['Bronze2'], combined_df['Silver2'], combined_df['Gold2'], combined_df['Winter Total'], combined_df['Bronze3'], combined_df['Silver3'], combined_df['Combined Total'], combined_df['Lat'], combined_df['Long']
            combined_df['Gold3'] = combined_df['Gold3'].astype('int')
            bg = combined_df.sort_values(['Gold3'], ascending=False).head(5)
            print('All-Time Gold Medals Awarded in the Olympics')
            print(bg.to_string(index=False, header=False))
        else:
            print('ERROR:', medal_type,'is not a medal type.')
    else:
        print('ERROR:', season_type,'is not a season type.')

All-Time Olympic Medal Counter
=======================================================
Please enter (summer/winter/both) or quit: summer
Please enter (bronze/silver/gold) or quit: gold

All-Time Gold Medals Awarded in Summer Olympics
1022  United States  US
 224          China  CN
 212         France  FR
 206          Italy  IT
 191        Germany  DE
=======================================================
Please enter (summer/winter/both) or quit: winter
Please enter (bronze/silver/gold) or quit: silver

All-Time Silver Medals Awarded in Winter Olympics
111         Norway  NO
102  United States  US
 78        Germany  DE
 78        Austria  AT
 62        Finland  FI
=======================================================
Please enter (summer/winter/both) or quit: both
Please enter (bronze/silver/gold) or quit: gold

All-Time Gold Medals Awarded in the Olympics
1118  United States  US
 269        Germany  DE
 243          Italy  IT
 243         France  FR
 236          China  CN
=======================================================
Please enter (summer/winter/both) or quit: both gold
ERROR: both gold is not a season type.
=======================================================
Please enter (summer/winter/both) or quit: fdjfhdkhfdksjhfkds
ERROR: fdjfhdkhfdksjhfkds is not a season type.
=======================================================
Please enter (summer/winter/both) or quit: quit
Exiting All-Time Olympic Medal Counter...

# Map of Top 5 Countries with Most Olympic Gold Medals Ever

```
We can do even more with the data we gathered...
such as mapping it using Folium.

Here is a map displaying the top 5 countries at their corresponding geolocations
that have won the most medals in both the summer and winter olympics combined.
```

In [9]:
# Sorts 'Combined Total' column as integers
# Outputs it without row index or column titles
combined_df = pd.merge(left=tm, right=cdf, how='inner', left_on='Country', right_on='Country')
del combined_df['Countries'], combined_df['Bronze1'], combined_df['Silver1'], combined_df['Gold1'], combined_df['Summer Total'], combined_df['Bronze2'], combined_df['Silver2'], combined_df['Gold2'], combined_df['Winter Total'], combined_df['Gold3'], combined_df['Silver3'], combined_df['Bronze3']
combined_df['Combined Total'] = combined_df['Combined Total'].astype('int')
sorted_total = combined_df.sort_values(['Combined Total'], ascending=False).head(5)
print('All-Time Medals Awarded in the Olympics')
print(sorted_total.to_string(index=False, header=False))

# Creates Folium Map of World with 5 values from 'Combined Total'
CENTER_WORLD = (0,0)
country_geojson = 'world-countries.json'
map = folium.Map(location=CENTER_WORLD, zoom_start=2, tiles='Open Street Map')
for row in sorted_total.sample(5).to_records():
    pos = (row['Lat'],row['Long'])
    marker = folium.Marker(location=pos, 
                    popup="Medal Count: %s, %s (%s)" % (row['Combined Total'], row['Country'], row['Code'])
                          )
    map.add_child(marker)
map

All-Time Medals Awarded in the Olympics
2803  United States  US   37.09024  -95.712891
 824        Germany  DE  51.165691   10.451526
 824         France  FR  46.227638    2.213749
 691          Italy  IT   41.87194    12.56738
 638         Sweden  SE  60.128161   18.643501